<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form autocomplete="off">
                <div class="register-form mx-auto">
                    <h2 class="register-header">Đăng ký</h2>
                    <div class="form-group">
                        <label for="email">Email/Phone</label>
                        <input type="text" class="form-control" id="account" placeholder="">
                        <div class="divider-nospace"></div>
                    </div>
                    <div class="form-group">
                        <label>Họ tên</label>
                        <input type="text" class="form-control" id="account" placeholder="">
                        <div class="divider-nospace"></div>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" class="form-control" id="account" placeholder="">
                        <div class="divider-nospace"></div>
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" placeholder="ít nhất 6 ký tự">
                        <div class="divider-nospace"></div>
                    </div>
                    <div class="form-group">
                        <label for="password">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" id="password" placeholder="ít nhất 6 ký tự">
                        <div class="divider-nospace"></div>
                    </div>

                    <div class="form-group">
                        <div class="form-check checkbox-text">
                            <span style="display: flex">
                                <input type="checkbox" class="form-check-input" id="remember">
                                <label for="remember" class="form-check-label checkbox-start">
                                    Tôi đồng ý với các điều
                                    khoản và điều kiện
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Đăng ký</button>
                    </div>
                    <div class="divider-nospace"></div>
                    <p class="text-center">Bạn đã có tài khoản?<span> <a href="">Đăng nhập</a></span></p>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>